<div class="container text-center">
  <h1>About</h1>
  <p>Mein Name ist Mark. Dies ist meine erste Webseite und ich weiß noch nicht so recht was ich hier alles machen soll.. 
  Mal schauen was das hier wird.</p>
</div>